<div *ngIf="loaded">
    <div style="width: 400px;margin: auto;">
        <h4>Select Your Hero :</h4>
        <select [(ngModel)]="selectedHero" style="    width: 160px; ">
            <option *ngFor="let hero of myHeroes" [value]="hero.id" >ID: {{hero.id}}</option>
        </select>
    </div>
    
    <div style="width: 800px; margin: auto">
        <div style="width: 200px;display: inline-block" *ngFor="let monster of monsters">
            <h4>{{monster.name}}</h4>
            <h4>Level: {{monster.level}}</h4>
            <p> Reward: {{monster.reward}}</p>
            <p> Win %: {{monster.scale}}</p>
            <button (click)="attackMonster(monster.id)" >Attack</button>
            <button (click)="specialAttackMonster(monster.id)" >Special Attack</button>
        </div>
        <br>
        <div style="width:600px; margin: auto" *ngIf="battleResult">
            <p>
                <b>Battle: </b>{{battleResult._id}}
                <b>Result: </b>{{battleResult.result}}
            </p>
        </div>
    </div>
</div>